<main class="main" id="dashboard">
	<div class="card-container">
		<div class="card-container-title">
			<h1>Acerca de</h1>
		</div>
	  <p>Este sistema fue desarrollado en el Instituto  Politécnico Nacional. Mayor información puede obtenerse con: </p>
		<table width="850" border="0" cellspacing="5">
		  <tr>
		    <th scope="col"><img src="ims\ipn.jpg" width="70%" ></th>
		    <th scope="col">&nbsp;</th>
		    <th scope="col">&nbsp;</th>
		    <th scope="col">Joaquín Salas<br />
	CICATA Querétaro<br />
	Instituto Politécnico Nacional<br />
	Cerro Blanco 141, Colinas del Cimatario<br />
	Querétaro, CP 76030<br />
	Tel. 01 55 5729 6000 x 81015, x 81002<br />
	Email: <a href="mailto:jsalasr@ipn.mx">jsalasr@ipn.mx</a>, <a href="mailto:dircicataqro@ipn.mx">dircicataqro@ipn.mx</a></th>
	      </tr>
	  </table>
		<p><br />
		</p>
	    <p align="justify">Este producto está protegido por las patentes:  MX/a/2014/015325, MX/a/2015/016511, MX/a/2016/017199; registros de modelo de  utilidad MX/f/2016/003739 y registro de derechos de autor. </p>
	    <p>Junio 12, 2018</p>
	<div class="empty"></div>
		<div class="empty"></div>
		<div class="empty"></div>
	</div>
</main>