<script src="js/system.js"></script>

<main class="main">
	<div class="card-container">
		<div class="card-container-title"><h1>Estado del Sistema</h1></div>
	</div>
	<div id="cameras-status">
		<div id="indicators">
			<div class="card-container">
				<div class="card-container-title"><h4>Cámara 1</h4></div>
				<span class="cam-indicator label" id="cam-1"></span>

			</div>
			<div class="card-container">
				<div class="card-container-title"><h4>Cámara 2</h4></div>
				<div class="cam-indicator" id="cam-2"></div>
			</div>

			<div class="card-container">
				<div class="card-container-title"><h4>Cámara 3</h4></div>
				<div class="cam-indicator" id="cam-3"></div>
			</div>
			<div class="card-container">
				<div class="card-container-title"><h4>Cámara 4</h4></div>
				<div class="cam-indicator" id="cam-4"></div>
			</div>
		</div>
		<div id="action-btns">
			<div class="card-container" id="restart">
				<div id="">
					<i class="fas fa-sync-alt icon"></i>
				</div>
			</div>
			<div class="card-container" id="stop">
				<div id="">
					<i class="fas fa-stop-circle icon"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="card-container">
		<div class="card-container-title"><h1>Calibración de las cámaras</h1></div>
	</div>
	<div id="cameras-calibration">
		<div id="indicators">
			<div class="card-container">
				<div class="card-container-title"><h4>Cámara 1-2</h4></div>
				<span class="cam-indicator label" id="cal-1"></span>
			</div>
			<div class="card-container">
				<div class="card-container-title"><h4>Cámara 2-3</h4></div>
				<div class="cam-indicator label" id="cal-2"></div>
			</div>
			<div class="card-container">
				<div class="card-container-title"><h4>Cámara 3-4</h4></div>
				<div class="cam-indicator label" id="cal-3"></div>
			</div>
		</div>

		<div id="action-btns">
			<div class="card-container" id="reload">
				<div class="card-container-title"><h4>Cámara 1-2</h4></div>
				<div id="calibrate12">
					<i class="fas fa-sync-alt icon"></i>
				</div>
			</div>
			<div class="card-container" id="reload">
				<div class="card-container-title"><h4>Cámara 2-3</h4></div>
				<div id="calibrate23">
					<i class="fas fa-sync-alt icon"></i>
				</div>
			</div>
			<div class="card-container" id="reload">
				<div class="card-container-title"><h4>Cámara 3-4</h4></div>
				<div id="calibrate34">
					<i class="fas fa-sync-alt icon"></i>
				</div>
			</div>
		</div>
	</div>
</main>